yahttp/libyahttp.a
*.o
tests/test
*.in
Makefile
tests/Makefile
yahttp/Makefile
autom4te.cache/
.deps
test-driver
missing
compile
depcomp
config.*
yahttp-config.h
configure
install-sh
stamp-h1
tests/*.log
tests/*.trs
.libs
*~
*.la
*.lo
aclocal.m4
libtool
*.gcov
*.gcda
*.gcno
tests/coverage.info
*.tar.gz
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
